<style type="text/css">#letterhead {
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}
#selected_letter {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #79A4D4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 .6em;
    margin: .5em .5em .5em 0;
    color: #fff;
}
#letterhead a, #letterhead li {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 .6em;
    margin: .5em .5em .5em 0;
    text-decoration: none;
    color: #333;
}
#letterhead a:hover {
    background-color: #79A4D4;
    color: #fff;
}
#letterhead input {
    background-color: #e0e0e0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: .2em .6em;
    margin: .5em;
    font-size: 1em;
}
#letterhead select {
    background-color: #e0e0e0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: .1em 0 .1em 0;
    margin: .5em .5em 0 0;
    font-size: 1em;
}
#letterhead option {
}
#letterhead_small {
    margin-bottom: .2em;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: .2em;
}
#letterhead_small a {
    color: #333;
    text-decoration: none;
    width: 1em;
    display: inline-block;
    list-style-type: none;
    border: 1px solid #ccc;
    background-color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 .6em;
    margin: .2em .5em .2em 0;
    color: 333;
    text-decoration: none;
}
#letterhead_small a:hover {
    background-color: #79A4D4;
    color: #fff;
}
select {
    width: 20%;
}
tbody.output-area {
	margin-left: 12px;
}
#output-area a {
	font-size: 16px;
}
table tr td {
    style: border: 1px solid rgb(221, 221, 221);
    font-size: 12px !important
}
#output-area li {
	margin-left: .25in;
}
#count-area {
	font-size: 16px;
	margin-top: 6px;
	margin-bottom: 10px;
	margin-left: 24px;
	color: #000099;
}
.campus_note {
	color: red;
	font-weight: bold;
	margin-left: .5in;
}

</style>
<div class="pluslet_body">
	<div align="center" id="letterhead">
		<a id="A" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesA'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'A')">A</a> 
		<a id="B" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesB'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'B')">B</a> 
		<a id="C" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesC'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'C')">C</a> 
		<a id="D" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesD'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'D')">D</a> 
		<a id="E" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesE'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'E')">E</a> 
		<a id="F" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesF'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'F')">F</a> 
		<a id="G" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesG'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'G')">G</a> 
		<a id="H" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesH'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'H')">H</a> 
		<a id="I" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesI'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'I')">I</a> 
		<a id="J" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesJ'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'J');">J</a> 
		<span>K</span> 
		<a id="L" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesL'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'L')">L</a> 
		<a id="M" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesM'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'M')">M</a> 
		<a id="N" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesN'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'N')">N</a> 
		<a id="O" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesO'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'O')">O</a> 
		<a id="P" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesP'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'P')">P</a> 
		<span>Q</span> 
		<a id="R" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesR'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'R')">R</a> 
		<a id="S" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesS'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'S')">S</a> 
		<a id="T" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesT'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'T')">T</a> 
		<a id="U" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesU'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'U')">U</a> 
		<a id="V" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesV'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'V')">V</a> 
		<a id="W" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesW'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', 'W')">W</a> 
		<span>X</span> 
		<span>Y</span> 
		<span>Z</span> 
		<a id="All" onclick="ga('send', 'event', 'tabbox', 'click', 'databasesalphaloopAll'); get_Alma('any,contains,01TEXAM-HSC_ALMA*', null)">View All</a> 
		
		<select id="EB_Subject" name="select" onchange="get_Alma(value, null); ga('send', 'event', 'tabboxdatabasesssubs', 'click', EB_Subject.options[EB_Subject.selectedIndex].getAttribute('id'));">
			<option selected="selected" value="">Select a Subject</option>
				<optgroup label="Dentistry / Medicine">
					<option id="Medicine" value="sub,contains,Medicine">All</option>
					<option id="Complementary" value="sub,contains,Complementary">Complementary &amp; Alternative Medicine</option>
					<option id="Dentistry" value="sub,contains,Dentistry">Dentistry</option>
					<option id="Evidence" value="sub,contains,Evidence">Evidence-Based Medicine</option>
					<option id="Exam" value="sub,contains,Exam">Exam prep</option>
					<option id="Nursing" value="sub,contains,Nursing">Nursing &amp; Allied Health</option>
					<option id="Patient" value="sub,contains,Patient">Patient Education Materials</option>
					<option id="Pharmacology" value="sub,contains,Pharmacology">Pharmacology</option> 
				</optgroup>
			<option id="Continuing" value="sub,contains,Continuing">Continuing Education</option>
			<option id="Economics" value="sub,contains,Economics">Economics &amp; Business</option>
			<option id="Education" value="sub,contains,Education">Education</option>
			<option id="Life" value="sub,contains,Life">Environmental &amp; Life Sciences</option>
			<option id="General" value="sub,contains,General">General Reference</option>
			<option id="Engineering" value="sub,contains,Engineering">Science &amp; Engineering</option>
			<option id="Social" value="sub,contains,Social">Social Sciences &amp; Humanities</option> 
		<!--****END DB-MENU.html****--> <!-- --> 
		</select>
	</div>
</div>

<div id="count-area"></div>

<table>
	<tbody id="output-area">
	</tbody>
</table>

